@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";

@theme {
  /* color system */
  --color-primary: #6366f1;
  --color-primary-dark: #4338ca;
  --color-teal: #14b8a6;
  --color-background: #f8fafc;
  --color-text: #0f172a;
  --color-border: #e2e8f0;

  /* font system */
  --font-inter: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* spacing system */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;

  /* border-radius system */
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
}
